
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
	body {line-height: 1;}
	ol,ul {list-style: none;}
	blockquote,q {quotes: none;}
	blockquote:before,blockquote:after,q:before,q:after {content: ''; content: none;}
	table {border-collapse: collapse; border-spacing: 0;}
	img {vertical-align: middle;}
	* { 
         		box-sizing: border-box; 
		   -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
	}


	html, body {
		/*
	background-repeat:no-repeat !important;
	background-image: linear-gradient(bottom, rgb(0,255,0) 0%, rgb(102,0,204) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(102,0,204) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(102,0,204) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(102,0,204) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(102,0,204) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(0,255,0)),
	color-stop(1, rgb(102,0,204))
);
		*/
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:#23012c;
    color: yellow;
}

	#watchers{
		padding:auto;
		margin:auto;
		text-align:center;
		margin-bottom: 20px;
		margin-top: 20px;
	}



	.row.header {
		padding:auto;
		margin:auto;
		text-align:center;
		margin-bottom: 80px;
	}

	.row.parts{
    	font-size: 0;
    	margin-bottom: 0px; 
    	padding:0; margin:0;
    	text-align:center;
	}




	.imgcastle {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 92px; height: 92px;
		/*border: 1px solid yellow;*/
	}

		.imgcastle img {
			position: absolute;
			top: 0px; left: 0px;
			width: 90px; height: 90px;
			opacity: 1;
		}
		.imgcastle img.hide { opacity: 0; }





/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
